{% extends 'general' %}

{% import 'repo/_macro' %}

{% block title %}JPPM Пакеты - {% endblock %}

{% block pageTitle %}
    JPPM Пакеты
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-3">
                {{ repo_menu('all') }}
            </div>
            <div class="col-xs-8">
                {% for pkg in packages %}
                    {{ package_card(pkg) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}