{% extends 'general' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header" style="text-align: center;"><h1>DevelHub</h1></div>
                    <div class="welcome-block"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}